body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  background-color: black;
}

#logo {
  margin-left: 50px;
  width: 20%;
  height: 20%;
  object-fit: cover;
}

#logo:hover {
  margin-left: 100px;
  content: url(assets/img/thumb-1920-1105889.jpg);
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  width: 10%;
  height: 5%;
}

.list-nav {
  display: flex;
  padding: 50px;
  gap: 20px;
  list-style-type: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: burlywood;
}

.main-wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(assets/img/anime-7713786_1280.jpg);
  background-position: top;
  background-size: cover;
}

.koda {
  margin: 300px 0 0 0;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.6);
  height: 30%;
  width: 30%;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.koda:hover {
  transform: scale(1.5);
  box-shadow: 16px 16px 40px rgb(249, 248, 248); /* shadow makin kuat */
}

.koda h1,
h2,
p {
  display: flex;
  justify-content: center;
}

.koda h1 {
  margin-top: 50px;
  font-size: 40px;
  color: black;
}

.koda h2 img {
  width: 50%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.kotak1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/img/freiren.png);
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-size: 50px;
}

@media (max-width: 768px) {
  #logo:hover {
    margin-left: 70px;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-size: 20px;
  }
  .list-nav {
    display: flex;
    flex-direction: column;
  }

  .main-wrap {
    flex-direction: column; /* ubah jadi column */
    align-items: center; /* tengah vertikal tiap item */
  }

  .koda {
    text-align: center;
    width: 40%; /* sesuaikan lebar tiap gambar di HP */
    margin-top: 10px; /* jarak bawah antar gambar */
    height: 100px;
  }
  .koda:hover {
    transform: scale(1.2);
    box-shadow: 16px 16px 40px rgb(249, 248, 248); /* shadow makin kuat */
  }

  .koda h1 {
    text-align: cent;
    font-size: 20px;
    padding: 2px;
    margin: 0 0 5px 0;
  }
  .koda h2 img {
    width: 100%; /* biar gambar ikut lebar container */
    height: 100%;
    padding-bottom: 10px;
  }
  .kotak1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    height: 30vh;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
}
